{{#each articles}}
<div class="row justify-content-center container-fluid" id={{id}}>
  <div class="col-md-10">
    <h3><u>Title:</u></h3>
    <p class="title">{{title}}</p>
    <h3>Link:</h3>
    <p><a href={{link}}>{{link}}</a></p>
  </div>
  <div class="col-md-2 text-center pt-5">
    {{#if bool}}
      {{bool}}
      <button type="submit" data-title ={{titleData}} data-link=`{{link}}` class="btn btn-success">Saved</button>
      {{else}}
      {{bool}}
      <button type="submit" data-link={{link}} data-titleData={{titleData}} class="btn btn-success saveBtn">Save</button>
    {{/if}}
  </div>
</div>
{{/each}}