{{#each articles}}
<div class="row justify-content-center border">
  <div class="col-md-10">
    <h3><u>Title:</u></h3>
    <p class="title">{{title}}</p>
    <h3>Link:</h3>
    <p><a href={{link}}>{{link}}</a></p>
  </div>
  <div class="col-md-2 text-center pt-5">
      <button type="submit" class="btn btn-success addNote" data-id = {{id}} data-toggle="modal">Add Note</button>
      <button type="submit" class="btn btn-danger btn-sm deleteArticle"  data-id = {{id}}>X</button>
  </div>
</div>
{{/each}}